
<br>
<br>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>JD Power Says</mat-card-title>
    <mat-card-subtitle>Korean Cars</mat-card-subtitle>
  </mat-card-header>
  <img class="imgSize" mat-card-image src="https://media.wired.com/photos/5d09594a62bcb0c9752779d9/1:1/w_1500,h_1500,c_limit/Transpo_G70_TA-518126.jpg" 
  alt="Photo of a Shiba Inu">
  <mat-card-content>
    <div class="main-header__item"><a href="#" style="cursor: pointer;"><img src="https://upload.wikimedia.org/wikipedia/en/b/bd/Aston_Martin_Lagonda_brand_logo.png" alt="location" class="logo"></a></div>
    <hr>   
    <ul class="main-header__item-list ">
                <li class="main-header__item"> <img src="../../../assets/images/outline_groups_black_36dp.png" alt="seat"><br><mark><strong>4 seats</strong></mark></li>
                <li class="main-header__item"> <img src="../../../assets/images/gearbox.png" alt="gearbox"><br><mark><strong>Manual</strong></mark></li>
                <li class="main-header__item"><img src="../../../assets/images/outline_local_gas_station_black_36dp.png" alt="Gas"><br><mark><strong>20 liters</strong></mark></li>
    </ul>
    <hr>
    <h2><strong style="color: green;">200TND/Month</strong></h2>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="color: blueviolet;">LIKE</button>
    <button mat-button style="color: blueviolet;">RENTAL</button>
  </mat-card-actions>
</mat-card>
<br>

