<br>
<div class="row justify-content-center">

<div class="btn-group" role="group" aria-label="Basic example">
    
    <a class="list-group-item list-group-item-action" data-toggle="list" routerLinkActive="active" routerLink="generale">General</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" routerLinkActive="active" routerLink="settings">settings</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" routerLinkActive="active" routerLink="notifications" >Notifications</a>
    
  
</div> 
</div>