


<div #stickyMenu
[class.sticky] = "sticky">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
      <a  class="navbar-brand scroll-top"  [routerLink]="['/home']"><em>R</em>Car</a>
        <button class="navbar-toggler" type="button" appScroll>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
           
            <li class="nav-item dropdown" >
              <a style="cursor: pointer;" class="dropdown-toggle  nav-link" role="button" >Categories</a>
              <ul class="dropdown-menu">
                  <li><a style="cursor: pointer;" class="dropdown-item" href="#">save Data</a></li>
                  <li><a style="cursor: pointer;" class="dropdown-item" href="#">Fetch Data</a></li>
              </ul>
          </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['about_as']" routerLinkActive="active">About as</a>
            </li>
          </ul>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item ">
            <button class="btn btn-primary"  style="width: 100px; height: 30px; padding-left: 20px; font-size: 14px;"(click)="login()">Login</button>
          </li>
        </ul>

      </nav>  
</div>


            
         
          


